/* CSS files add styling rules to your content */

body {
  font-family: helvetica neue, helvetica, arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

a {
color: white;
  text-decoration: none;
}

#sound {
  cursor: pointer;
  user-select: none;
}

#sound:hover {
  opacity: .8;
}

.animate {
  animation: animate 1s infinite linear;
}

@keyframes animate {
  0%   { font-variation-settings: "anim" 100; }
  100% { font-variation-settings: "anim" 200; }
}

 .col {
display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.3);
    }
    
    .col div {
  padding: 20px;

}
    
    .dep, .trk, .train {
width: 100px;
    }
    
        .title {
width: 200px;
    }
    
    .line, .status {
width: 150px;
}
    
    


hr {
border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  height: 1px;
  margin-bottom: -5px;
}

h1 {
margin: 0;
font-weight: bold;
}

.col:hover {
opacity: .9;
}

h1 {
font-size: 20px;
}

.time {
  font-size: 20px;
}

.col {
font-size: 16px;
}

.status, .dep {
text-transform: uppercase;
}

  @font-face {
    font-family: "Whirlybats";
    src: url("https://cdn.glitch.com/d24c90d5-aa0a-45ef-ac33-2fadd3943165%2FWhirlybatsGX.ttf?v=1606787650142")
      format("truetype");
  }

.wb-icon {
font-family: "Whirlybats";
font-variation-settings: "anim" 100;
  font-weight: normal;
}

.zo {
opacity: 0;
}

.header {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.blink {
  animation: blink 2s infinite linear;
}

@keyframes blink{
  0%   { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}

  .red {
background-color: #ec0101;
    }
    
    .green {
background-color: #00852c;
}
    
    .blue {
background-color: #1963fb;
}

        .gray {
background-color: #474242;
}
    
        .brown {
background-color: #5e2e18;
}
    .purple {
background-color: #C36366;
    }

    .black {
background-color: transparent;
    }

.head {
font-size: 13px;
  text-transform: uppercase;
}



@media screen and (max-width: 600px) {

  .trk, .train, .line {
display: none;
  }
  
}