:root {
    --black: #000000;
    --white: #ffffff;
    --red: #e00015;
    --orange: #fca43c;
    --blue: #1385ff;
    --green: #008d88;
    --wood: #663d16;
    --navy: #112b5a;
    --purple: #672e40;
    --gray: #4c4545;
}

body {
  font-family: helvetica neue, helvetica, arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
/*   
  font-smooth: never;
-webkit-font-smoothing : none; */
}

.cover {
position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  pointer-events: none;
    background: url("https://cdn.glitch.com/027fcb2b-a763-4ba3-a720-c1af63dda48c%2Frepeat.gif?v=1606856567510");
    background-size: 2px 2px;
  opacity: .3;
  display: none;
}

a {
color: white;
  text-decoration: none;
}

#sound {
  cursor: pointer;
  user-select: none;
}

#sound:hover, .navicon:hover {
  opacity: .8;
  font-variation-settings: "anim" 200;
}

.animate {
  animation: animate 1s infinite linear;
}

@keyframes animate {
  0%   { font-variation-settings: "anim" 100; }
  100% { font-variation-settings: "anim" 200; }
}

 .col {
display: flex;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px 0px rgba(255,255,255,0.3);
    }
    
    .col div {
  padding: 15px;

}
    
    .dep, .trk, .train {
width: 100px;
    }
    
        .title {
width: 200px;
    }
    
    .line, .status {
width: 150px;
}
    
    


hr {
border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  height: 1px;
  margin-bottom: -5px;
}

h1 {
margin: 0;
font-weight: bold;
}

.col:hover {
  opacity: .95;
}

h1 {
font-size: 20px;
}

.time {
  font-size: 20px;
}

.col {
font-size: 20px;
}

.status, .dep {
text-transform: uppercase;
}

  @font-face {
    font-family: "Whirlybats";
    src: url("https://cdn.glitch.com/d24c90d5-aa0a-45ef-ac33-2fadd3943165%2FWhirlybatsGX.ttf?v=1606787650142")
      format("truetype");
  }

.wb-icon {
font-family: "Whirlybats";
font-variation-settings: "anim" 100;
  font-weight: normal;
}

.zo {
opacity: 0;
}

.header {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
  padding-top: 20px;
}

.blink {
  animation: blink 2s infinite linear;
}

@keyframes blink{
  0%   { opacity: 1; }
  50% { opacity: 1; }
  51% { opacity: 0; }
  100% { opacity: 0; }
}

  .red {
background-color: var(--red);
    }
    
    .green {
background-color: var(--green);
}
    
    .blue {
background-color: var(--blue);
}

        .gray {
background-color: var(--gray);
}
    
        .brown {
background-color: var(--brown);
}
    .purple {
background-color: var(--purple);
    }

    .black {
background-color: var(--black);
    }

    .orange {
background-color: var(--orange);
      color: black;
    }

    .navy {
background-color: var(--navy);
    }

.head {
font-size: 13px;
  text-transform: uppercase;
}



@media screen and (max-width: 600px) {

  .trk, .train, .line {
display: none;
  }
  
  .col {
font-size: 14px;
}
  
      .col div {
  padding: 15px;

}
  
}